body {
	background-color: #666666;
}

div #gameButton1 {
	/*position: absolute;*/
	left: 300px;
	bottom: 300px;
}

div #gameButton2 {
	position: absolute;
}

div #gameButton3 {
	position: absolute;
}

div #gameButton4 {
	position: absolute;
}